@use "sass:math";

$c-toolbar-item-spacing: 1.6rem !default;
$c-toolbar-main-border-color: #333 !default;

.c-toolbar {
	width: 100%;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-around;
	height: 50px;
}

.c-toolbar--spaced {
	padding: 0 2.4rem;
}

.c-toolbar--auto {
	height: auto;
}

.c-toolbar--align-top {
	align-items: flex-start;
}

.c-toolbar__left {
	z-index: 3;
	justify-content: flex-start;

	.c-toolbar__item {
		margin-right: $c-toolbar-item-spacing;

		&:only-child {
			margin: 0;
		}
	}
}

.c-toolbar__right {
	z-index: 3;
	justify-content: flex-end;

	.c-toolbar__item {
		margin-left: $c-toolbar-item-spacing;

		&:only-child {
			margin: 0;
		}
	}
}

.c-toolbar__left,
.c-toolbar__right {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
}

.c-toolbar__center {
	position: absolute;
	margin-left: 50%;
	left: 0;
}

.c-toolbar__center-inner {
	margin-left: -50%;
	display: flex;
	flex: 1 0 auto;
	align-items: center;

	.c-toolbar__item {
		margin: 0 math.div($c-toolbar-item-spacing, 2);

		&:only-child {
			margin: 0;
		}
	}
}

.c-toolbar__center--interactive {
	z-index: 4;
}

.c-toolbar__center-inner--alt {
	margin-left: -100%;
}

.c-toolbar--justified {
	flex: 1 0 auto;
	display: flex;
	align-items: center;

	.c-toolbar__item {
		margin-right: $c-toolbar-item-spacing;
	}
}

.c-toolbar--justified {
	.c-toolbar__item:last-child {
		margin: 0;
	}
}
