$c-modal-padding-horizontal: 2.4rem !default;
$c-modal-padding-vertical: 2.4rem !default;
$c-modal-border-radius: 0.3rem !default;

$c-modal-header-bg-color: #fff !default;
$c-modal-footer-bg-color: #fff !default;

$g-c-modal-backdrop-z: 30 !default;
$g-c-modal-context-z: 40 !default;
$g-c-modal-z: 50 !default;

.c-modal-context {
	display: flex;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transform: translateY(-4rem) scale(0.98);
	transition:
		visibility 0s linear 0.2s,
		opacity 0.2s linear,
		transform 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: $g-c-modal-context-z;

	&.c-modal-context--visible {
		opacity: 1;
		transform: translateY(0) scale(1);
		transition-delay: 0s;
		visibility: visible;
	}
}

.c-modal {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	width: calc(100% - 8rem);
	z-index: $g-c-modal-z;
}

.c-modal__body {
	flex: 1 1 auto;
	overflow: auto;
	padding: $c-modal-padding-vertical $c-modal-padding-horizontal;
}

.c-modal__body--no-vert-padding {
	padding-top: 0;
	padding-bottom: 0;
}

.c-modal__body--no-padding {
	padding: 0;
}

.c-modal__header {
	background-color: $c-modal-header-bg-color;
	border-radius: $c-modal-border-radius $c-modal-border-radius 0 0;

	.c-toolbar {
		min-height: 50px;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
	}

	.c-toolbar__left {
		flex-shrink: 1;
	}
}

.c-modal__header--bg-alt {
	background: #ddd;
}

.c-modal__header--bordered {
	border-bottom: 1px solid white;
}

.c-modal__title {
	font-size: 1.6rem;
	font-weight: 500;
}

.c-modal__header--no-padding {
	padding-top: 0;
	padding-bottom: 0;
}

.c-modal__footer {
	background-color: $c-modal-footer-bg-color;
	border-radius: 0 0 $c-modal-border-radius $c-modal-border-radius;
}

.c-modal__footer--bordered {
	border-top: 1px solid #aaa;
}

.c-modal__footer--bg-alt {
	background: #ddd;
}

.c-modal__content {
	flex: 1 1 auto;
	overflow: auto;
	padding: $c-modal-padding-vertical $c-modal-padding-horizontal;
}

/* Sizes
   ========================================================================== */

.c-modal--extra-large {
	width: 120rem;
}

.c-modal--large {
	width: 88rem;
}

.c-modal--medium {
	width: 66rem;
}

.c-modal--small {
	width: 44rem;
}

.c-modal--fullscreen {
	height: calc(100% - #{$c-modal-padding-vertical * 2});
	max-height: none;
	max-width: none;
	width: calc(100% - #{$c-modal-padding-horizontal * 2});
}

.c-modal--fullwidth {
	max-width: 66rem;
	width: calc(100% - #{$c-modal-padding-horizontal * 2});
}

.c-modal--height-auto {
	height: auto;
}

.c-modal--scrollable {
	max-height: calc(100% - #{$c-modal-padding-vertical * 2});
}

/* Backdrop
   ========================================================================== */

.c-modal-backdrop {
	background: rgba(#000, 0.4);
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: fixed;
	top: 0;
	transition:
		visibility 0s linear 0.2s,
		opacity 0.2s linear;
	left: 0;
	visibility: hidden;
	z-index: $g-c-modal-backdrop-z;

	&.c-modal-backdrop--visible {
		opacity: 1;
		transition-delay: 0s;
		visibility: visible;
	}
}
