/*!
 * Font Awesome Free 5.12.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@import "variables";

@font-face {
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	font-display: $fa-font-display;
	src: url("../../../../../resources/webfonts/fa-solid-900.woff2") format("woff2");
}

.fa,
.fas {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
