.c-button {
	height: 40px;
	border: 1px solid #666;
	border-radius: 4px;
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	width: auto;
	min-width: 50px;

	&.c-button-block {
		width: 100%;
	}

	&.c-button-primary {
		background-color: #223b82;
		border-color: #182347;

		&:hover {
			background-color: lighten(#223b82, 10%);
		}

		&:active {
			background-color: lighten(#223b82, 15%);
		}
	}

	&.c-button-secondary {
		color: #333;
		background-color: #eaeaea;
		border-color: #acacac;

		&:hover {
			background-color: lighten(#ddd, 10%);
		}

		&:active {
			background-color: lighten(#ddd, 15%);
		}
	}

	i.fa {
		font-size: 20px;
	}
}
