.c-select {
	&.c-select-is-disabled {
		.c-select-control {
			background: #999;
		}
	}

	.c-select-value-container {
		padding: 0 6px;
	}

	.c-select-control {
		width: 100%;
		height: 30px;
		border-radius: 4px;
		border: 1px solid #aaa;
		box-sizing: border-box;
		padding: 0;
	}

	.c-select-option-is-selected {
		background-color: #ddd;
	}
}
