.m-controls-sidebar {
	background-color: #eeeeee;
	box-sizing: border-box;
	min-height: 100vh;

	.c-config-button {
		width: 50px;
	}

	.m-button-wrapper {
		padding: 10px 10px 0 10px;
		display: flex;
		align-items: center;

		> * {
			flex-grow: 1;

			& + * {
				margin-left: 10px;
			}
		}

		&:last-child {
			padding-bottom: 10px;
		}
	}

	.m-modification-controls {
		margin-top: 10px;
		padding: 0 10px;
		overflow-y: auto;
		box-sizing: border-box;
		height: calc(100vh - 120px);
		min-height: calc(100vh - 120px);
	}
}

.m-settings-modal {
	.c-modal {
		position: absolute;
		height: 400px;
		left: 50vw;
		top: 50vh;
		transform: translate(-50%, -50%);

		.c-modal__body {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}
