.c-alert {
	background: #fff;
	border-radius: 0.3rem;
	border: 1px solid #aaa;
	padding: 1.2rem 1.6rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.c-alert-message {
	margin: 4px 0;
}

.c-alert-floating {
	border-radius: 3px;
	display: flex;
	padding: 1.6rem;
	transform: translateX(-50%);
	z-index: 100;
	min-width: 15rem;
}

.c-alert-info {
	background: #f2f9fa;
	border-color: darken(#f2f9fa, 10%);
}

.c-alert-danger {
	background: #fef2f0;
	border-color: darken(#fef2f0, 10%);
}

.c-alert-warn {
	background: #feeacf;
	border-color: darken(#feeacf, 10%);
}

.c-alert-success {
	background: #eff9f6;
	border-color: darken(#eff9f6, 10%);
}
