.c-switch {
	display: flex;
	flex-direction: row;
	gap: 0.8rem;
	margin: 1rem 0;
	align-items: center;

	> *:first-child {
		flex-grow: 1;
		max-width: 19rem;
	}

	.c-switch__toggle {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
		outline: none;

		input {
			position: absolute;
			top: -99999px;
			left: -99999px;
		}

		.c-switch__toggle__slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			transition: 0.3s;
			border-radius: 34px;
		}

		.c-switch__toggle__slider:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.3s;
			border-radius: 50%;
		}

		input:checked + .c-switch__toggle__slider {
			background-color: #2196f3;
		}

		input:focus + .c-switch__toggle__slider {
			box-shadow: 0 0 1px #2196f3;
		}

		input:checked + .c-switch__toggle__slider:before {
			transform: translateX(26px);
		}
	}
}
