@import "../../styles/fortawesome/fontawesome.scss";
@import "../../styles/fortawesome/solid.scss";

.m-main-preview {
	height: 100vh;
	width: 100%;
	padding: 20px;
	background-color: #888;
	box-sizing: border-box;
	position: relative;

	.o-image-viewer {
		display: none;
	}

	.viewer-toolbar {
		[role="button"] {
			border-radius: 4px;
			margin-right: 10px;
			margin-bottom: 10px;
			background-color: #223b82;
			border-color: #182347;

			&:hover {
				background-color: lighten(#223b82, 10%);
			}

			&:active {
				background-color: lighten(#223b82, 15%);
			}
		}
	}

	.viewer-toolbar > ul > .viewer-large {
		width: 40px !important;
		height: 40px !important;
		line-height: 40px;

		&::before {
			margin: 0;
		}
	}

	.viewer {
		&-zoom-in,
		&-zoom-out,
		&-one-to-one,
		&-reset,
		&-prev,
		&-play,
		&-next,
		&-rotate-left,
		&-rotate-right,
		&-flip-horizontal,
		&-flip-vertical,
		&-fullscreen,
		&-fullscreen-exit,
		&-close {
			&::before {
				width: 100%;
				height: 100%;
				background-image: none;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				color: white;
				font-size: 20px;
				line-height: 40px;
				text-align: center;
			}
		}

		&-zoom-in::before {
			content: fa-content($fa-var-search-plus);
		}

		&-zoom-out::before {
			content: fa-content($fa-var-search-minus);
		}

		&-reset::before {
			content: fa-content($fa-var-compress);
		}

		&-rotate-left::before {
			content: fa-content($fa-var-undo);
		}

		&-rotate-right::before {
			content: fa-content($fa-var-redo);
		}

		&-flip-horizontal::before {
			content: fa-content($fa-var-arrows-alt-h);
		}

		&-flip-vertical::before {
			content: fa-content($fa-var-arrows-alt-v);
		}
	}

	.viewer-canvas img {
		filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3)) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
	}

	.o-spinner-wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.9);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 10px;
		text-align: center;
		padding: 40px 40px 35px;
		border-radius: 4px;
		z-index: 3;

		> .o-spinner {
			width: 40px;
			height: 40px;
			margin-bottom: 10px;
		}
	}
}
